@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* setting defaults to zero */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* --------- Global style */
html {
    
    min-height: 100%;
    position: relative;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 163, 163);
    
}

/* Header and footer */

header {

    text-align: center;
    height: 50px;
}

footer {
    box-sizing: border-box;
    min-height: 80px;
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 5px;
    left: 0;
    bottom: 0;
}

/* Game area section */

.game-area {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

/* Buttons section */

.btn {
    display: inline-block;
    width: 80px;
    height: 50px;
    font-size: 1.5rem;
    margin: 2px;
    cursor: pointer;
}

/* Results */

#results {
    height: 40px;
    padding: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* player section */

.player {

    float: left;
    width: 45%;
}

#player-image {

    width: 75%;
}

/* computer section */

.computer {

    float: right;
    width: 45%;
}

#computer-image {

    width: 75%;
}