@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* setting defaults to zero */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* --------- Global style */
html {

    min-height: 100%;
    position: relative;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color: rgb(230, 62, 112);
    height: 750px;
}

/* Header */

header {

    background-color: rgb(215, 220, 117);
    padding-top: 10px;
    text-align: center;
    height: 50px;
}

/* Game area section */

.game-area {

    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;

}

.game-area p {

    font-size: 25px;
    height: 30px;
}

/* Buttons section */

.btn {

    display: inline-block;
    width: 80px;
    height: 50px;
    font-size: 1.5rem;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 204, 241);
}

.btn:hover {

    background-color: white;
}

/* Results */

#results {

    height: 40px;
    padding: 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(3, 60, 14);
}

/* player section */

.player {

    float: left;
    width: 45%;
}

#player-image {

    width: 75%;
}

#player-score {

    color: yellow;
}

/* computer section */

.computer {

    float: right;
    width: 45%;
}

#computer-image {

    width: 75%;
}

#computer-score {

    color: hwb(156 3% 5% / 0.966);
}

/*  Footer section */

footer {

    background-color: rgb(215, 220, 117);
    box-sizing: border-box;
    min-height: 100px;
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 10px;
    left: 0;
    bottom: 0;
}

footer p {

    height: 20px;
    padding: 5px;
    text-transform: uppercase;

}

i {
    color: black;
}

p {

    height: 20px;
    padding: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    color: blue;

}

h3 {

    font-size: 1.5rem;
}